{% extends "base.html" %}
{% block title %}Pagos{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>LISTA DE PAGOS</h2>

    <a href="{% url 'crear_pago' %}" class="btn btn-primary mb-3">Nuevo Pago</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th><th>Socio</th><th>Plan</th><th>Fecha</th><th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pagos %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.socio }}</td>
                <td>{{ p.plan }}</td>
                <td>{{ p.fecha }}</td>
                <td>
                    <a href="{% url 'editar_pago' p.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_pago' p.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
