{% extends "base.html" %}
{% block content %}

<h1>Lista de Pagos</h1>

<nav>
    <a href="{{ url_for('pagos_agregar') }}">Nuevo Pago</a>
</nav>

<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Socio</th>
            <th>Plan</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Monto</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        {% for p in pagos %}
        <tr>
            <td>{{ p.id_pago }}</td>
            <td>{{ p.nombre }} {{ p.apellido }}</td>
            <td>{{ p.nombre_plan }}</td>
            <td>{{ p.fecha_inicio }}</td>
            <td>{{ p.fecha_fin }}</td>
            <td>{{ p.monto }}</td>
            <td>
                <a href="{{ url_for('pagos_editar', id=p.id_pago) }}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{{ url_for('pagos_eliminar', id=p.id_pago) }}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav>
    <a href="{{ url_for('socios_lista') }}">listar socios</a> |
    <a href="{{ url_for('planes_lista') }}">listar planes</a> |
    <a href="{{ url_for('pagos_lista') }}">listar pagos</a> |
    <a href="{{ url_for('clases_lista') }}">listar clases</a> |
</nav>

{% endblock %}
