{% extends "base.html" %}
{% block content %}

<h1>Nueva Clase</h1>

<nav>
    <a href="{{ url_for('clases_lista') }}">Lista de Clases</a>
</nav>

<form action="{{ url_for('clases_agregar') }}" method="post">

    <div class="contenedor">
        <h3>Datos de la Clase</h3>

        <div class="campo">
            <label for="nombre_clase">Nombre:</label>
            <input type="text" id="nombre_clase" name="nombre_clase" required>
        </div>

        <div class="campo">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" required></textarea>
        </div>

        <div class="campo">
            <label for="cupo">Cupo:</label>
            <input type="number" id="cupo" name="cupo" required>
        </div>
    </div>

    <div class="contenedor botones">
        <button type="submit">Registrar</button>
        <button type="reset">Cancelar</button>
    </div>

</form>

{% endblock %}


