{% extends "base.html" %}
{% block content %}

<h1>Editar Clase</h1>

<form action="{{ url_for('clases_editar', id=clase.id_clase) }}" method="post">

    <div>
        <label>Nombre:</label>
        <input type="text" name="nombre_clase" value="{{ clase.nombre_clase }}" required>
    </div>

    <div>
        <label>Descripción:</label>
        <textarea name="descripcion" required>{{ clase.descripcion }}</textarea>
    </div>

    <div>
        <label>Cupo:</label>
        <input type="number" name="cupo" min="1" value="{{ clase.cupo }}" required>
    </div>

    <button type="submit">Actualizar</button>
    <a href="{{ url_for('clases_lista') }}">Cancelar</a>
</form>

{% endblock %}

